# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.cache/
.cache/

# Streamlit
.streamlit/

# Credentials
*.env
.env
*.ini

# MySQL dumps
*.sql

# -----------------------
# Project specific
# -----------------------
data/raw/
data/tmp/
data/intermediate/
